scipy==0.19.0
requests==2.13.0
numpy==1.11.3
cssutils==1.0.2
xmltodict==0.10.2
httplib2==0.10.3
matplotlib==1.5.1
beautifulsoup4==4.6.0
gensim==2.1.0
protobuf==3.3.0
lda==1.0.4
lxml==3.7.3
mysql_connector_repackaged==0.3.1
plotly==2.0.8
selenium==3.4.2
scikit_learn==0.18.1
