com.google.android.gms.json filter=lfs diff=lfs merge=lfs -text
com.facebook.katana.json filter=lfs diff=lfs merge=lfs -text
com.facebook.orca.json filter=lfs diff=lfs merge=lfs -text
com.whatsapp.json filter=lfs diff=lfs merge=lfs -text
biz.bokhorst.xprivacy.json filter=lfs diff=lfs merge=lfs -text
android.json filter=lfs diff=lfs merge=lfs -text
