.\masterJsonOutputFileSequences.json filter=lfs diff=lfs merge=lfs -text
uni-bi-tri-seq-jsons/com.allah.islamalarmclockwidget.json filter=lfs diff=lfs merge=lfs -text
uni-bi-tri-seq-jsons/com.americos.dotasks.todo.list.json filter=lfs diff=lfs merge=lfs -text
