h1 {
		text-align: center;
}
h2 {
		text-align: center;
}
/*
#infobox {
		display: inline-block;
		float:left;
		width:100px;
		height:500px;

}

#container {
	float:left;
	width: 1700px;
}*/

#infobox, #container {
    border: 1px solid white;
    float: left;
    min-height: 450px;
    color: white;
}
#infobox {
     width: 20%;
     background-color: #111;
}
p {
	margin:20px;
}
select {
	width:100px;
	margin:20px;
}
button {
	margin:20px;
}

#highlight{
	background-color: yellow;
}

#tagMalicious {
	color: white;
	background-color: red;
}

#tagBenign {
	color: white;
	background-color: green;
}

#highlightnew{
	background-color: yellow;
}

#container {
     width: 70%;
     height: 800px;
     /*background-color: #777;*/
}
#clusterinfo, #nameinfo {
	padding: 4px;
	margin: 4px;
	width: 80%;
	text-align: left;
}

#classify {
	margin: 20px;
	text-align: center;
}